<div class="form-group">
  <%= f.label :Charges %> <i class="fa fa-info-circle" data-toggle="tooltip" title="Set to the number of times this is usable in total. Set to -1 if it can be used any number of times."></i>
  <%= f.text_field :charges, class: 'form-control', placeholder: ""  %>
</div>
