<div class="form-group">
  <%= f.label :reminder %> <i class="fa fa-info-circle" data-toggle="tooltip" title="A reminder will be shown when going to game mode. If you type [unit] in the reminder, it will be replaced with the name of the unit"></i>
  <%= f.text_field :reminder, class: 'form-control', placeholder: ""  %>
</div>
