<div class="form-group">
  <%= f.label "Uses per game" %> <i class="fa fa-info-circle" data-toggle="tooltip" title="Set to the number of times this is usable in a game. Set to a negative value (e.g -1) if it can be used any number of times."></i>
  <%= f.text_field :uses_per_game, class: 'form-control', placeholder: ""  %>
</div>
