
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <h1 class="text-center">MRoster Database</h1>
  <p>This site lets you create your own database for MRoster! The database is used to provide suggestions, prefilled stats, descriptions and more.
  It's essentially what makes MRoster useful. It might sound like a lot of work but you only have to add the parts you think are missing. A hired sword,
  an entire warband or just some equipment. Anything you think is missing can be added quite easily.</p>
  <p>To begin, create a new database, either from scratch or based on the MRoster default database or a public database created by another user. 
  Your progress is always saved so you may return later to complete your database edits. </p>
  <p> When you you are done, simply select your database in the MRoster app and all the things you've added will be available in the app!</p>
</div>
<div class="col-sm-2"></div>
