/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 */

 .main-page {
  padding-top: 80px;
}

/* The sidebar menu */
.sidenav {
    border-radius: 6px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 10px;
}

/* The navigation menu links */
.sidenav a {
    padding: 3px 4px 3px 4px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}





input[type="checkbox"] {
    margin-right: 5px;
}
legend[class="label"] {
    display: none;
}
ol {
    list-style-type: none;
    padding-left: 12px;
}
li[class="check_boxes input optional"]{
    list-style-type: none;
}

#unit_skill_lists_input > fieldset > ol {
    padding: 0px;
}

#unit_skill_lists_input > fieldset > ol > li {
    margin:0.1em 0.5em 0.5em 0;
    display: inline-block;
}

.large-text {
    font-size: 1.5em;
    padding: 10px;
}

.extra-large-text {
    font-size: 2em;
    padding: 14px;
}